# FUJI / AVALANCHE
REACT_APP_NETWORK=FUJI

REACT_APP_FUJI_TESTNET_RPC_URL="https://api.avax-test.network/ext/bc/C/rpc"
REACT_APP_AVALANCHE_RPC_URL="https://api.avax.network/ext/bc/C/rpc"

REACT_APP_EARLY_STAGE_MANAGER_ADDRESS="0x425C95aB13d2caae4C38c86575fc3EF5Ad7cED4f"
